<!DOCTYPE html>
<html lang="en">
<head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <title>Document</title>
               <style>
                .one{
                        background-color: #00e676;
                        border-radius: 18px;
                }
                .one:hover{
                        background-color: #c6ff00;
                }
                .an{
                        bottom:250px;
                }
               </style>
</head>
<body style="background-color: black;">
             <center style="margin-top: 220px;">
                <form method="post" action="#" >
                        <label style="color:greenyellow" >Give new password</label>
                <input type="text" name="npassword" required > <br/><br/>
                <label style="color:greenyellow" >confirm new password</label>
                <input type="text" name="cpassword" required > <br/><br/>
                <button class="one" >submit</button>  
             </center>
</form>  
</body>
</html>